

/application/config/testing
/application/config/production
/application/config/development
/application/config/behat
/application/config/config.php
/application/config/database.php
/application/config/constants.php
#sdsd
/application/logs/log*
/nbproject/*
/build/*
cache.properties
behat.yml
phinx.yml

/captcha/*.jpg

/asset/cache/*
!/asset/cache/index.html

/asset/upload/*
!/asset/upload/index.html

/asset/produk/original/*
!/asset/produk/original/index.html

/asset/produk/thumb/*
!/asset/produk/thumb/index.html

/vendor
pdf_file/*
nbproject/*

/var/
/public

/sitemap.xml
/material
/index.php
mysql_directory/

